div {
     width: 100px;
     height: 100px;
     background: red;
     -webkit-transition: width 2s, height 2s,
     -webkit-transform 2s;
     transition: width 2s, height 2s, transform 2s;
}

div:hover {
      width: 500px;
      height: 500px;
      -webkit-tranform: rotate(1080deg);
      transform: rotate(1080deg);
}